body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #020202;
}

.header {
    height: 70px;
    background-color: #A1965E;
    align-items: center;
}

.high-scores {
    margin: 2rem;
}

main {
    height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.start {
    cursor: pointer;
}

.prompt {
    color: #A1965E;
    margin: 3vh;
    height: 100px;
    width: 30vw;
}

.answers {
    width: 100%;
    margin-top: 5rem;
    color: #A1965E;
    display: grid;
    justify-items: center;
    justify-content: center;
    grid-template-columns: 10vh 10vw;
    grid-row: auto auto;
    grid-column-gap: 10vw;
    grid-row-gap: 5vh;
    
}

.answer {
    height: 10vw;
    width: 10vw;
    align-items: center;
    border-radius: 2vw;
    background: #3f4a4f;
    cursor: pointer;
}

.answer:hover {
    transform: scale(1.1);
}

.top-left {
    box-shadow:  9px 9px 0px #191e20,
                -9px -9px 0px #65767e;
}

.top-right {
    box-shadow:  -9px 9px 0px #191e20,
                9px -9px 0px #65767e;
}

.bottom-left {
    box-shadow:  9px -9px 0px #191e20,
                -9px 9px 0px #65767e;
}

.bottom-right {
    box-shadow:  -9px -9px 0px #191e20,
                9px 9px 0px #65767e;
}

.next-question {
    display: block;
}

.arrow-container {
    align-items: center;
}

.next {
    cursor: pointer;
}

.arrow {
    height: 50%;
    display: inline-block;
    border: solid #A1965E;
    border-width: 0 .5rem .5rem 0;
    padding: .5rem;
    transform: rotate(-45deg);
}

.game-over {
    display: block;
}

.p {
        color: #A1965E;
        font-size: 16px;
        font-weight: bold;
}

.head {
    color: #A1965E;
}

input {
    border-radius: 50px;
    box-shadow: inset 5px 5px 10px #364044,
                inset -5px -5px 10px #48545a;
    font-weight: bold;
}

::placeholder {
    color: black;
    font-weight: bold;
}

button {
    border-radius: 9px;
    background: linear-gradient(225deg, #918755, #aca165);
    font-weight: bold;
}

.flex {
    display: flex;
    justify-content: center;
}

.hide {
    display: none;
}

@media(max-width: 1200px) {
    .prompt {
        width: 40vw;
    }
    .answer {
        height: 15vw;
        width: 15vw;
    }
}

@media(max-width: 768px) {
    .high-scores {
        font-size: 75%;
        margin: .5rem;
    }

    .prompt {
        width: 50vw;
    }
    
    .answer {
        height: 20vw;
        width: 20vw;
    }

    .top-left {
        box-shadow:  6px 6px 0px #191e20,
                    -6px -6px 0px #65767e;
    }
    
    .top-right {
        box-shadow:  -6px 6px 0px #191e20,
                    6px -6px 0px #65767e;
    }
    
    .bottom-left {
        box-shadow:  6px -6px 0px #191e20,
                    -6px 6px 0px #65767e;
    }
    
    .bottom-right {
        box-shadow:  -6px -6px 0px #191e20,
                    6px 6px 0px #65767e;
    }
}

@media(max-width: 480px) {
    #header-title {
        font-size: 50%;
    }
    .high-scores {
        font-size: 50%;
        margin: 0;
        margin-left: 1rem;
    }

    .answers {
        font-size: 80%;
    }
}